<?xml version="1.0" encoding="UTF-8"?>
<!--  <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Testcase.AuthRequest"/>
      <class name="Testcase.TokenRequest"/>
      <class name="Testcase.PostAddRequest"/>
      <class name="Testcase.GetListRequest"/>
      <class name="Testcase.GetIdRequest"/>
      <class name="Testcase.GetClassRequest"/>
      <class name="Testcase.DeleteIdRequest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
